.app {
  max-width: 500px;
  margin: 10px auto;
}

.app section {
  margin-bottom: 100px;
}


/* async-select test */
#async-select-wrapper .async-item {
  cursor: pointer;
  padding: 10px 10px;
}

#async-select-wrapper .async-item:hover {
  background-color: #eeeeee;
}
